* {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(43,55,61, 1);
    color: #FFF;
}
.content {
    display: flex;
    flex-direction: column;
}
#oi {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
    border: 5px solid rgba(10,149,255, 1);;
    color: #FFF;
    background-color: rgba(43,55,61, 1);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .8);
}
#data {
    overflow: auto;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    width: 90%;
    background-color: rgba(43,55,61, 1);
}
button#button-att {
    background-color: rgba(10,149,255, 1);;
    margin: 0 auto 20px auto;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    width: 200px;
}
button:active {
    background-color: #CECECE;
    color: rgba(10,149,255, 1);;
}

span#id {
    font-weight: bold;
    margin: 0 20px;
    background-color: rgba(43,55,61, 1);
}
.last_name {
    background-color: rgba(43,55,61, 1);
}
#form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 20px auto;
}

#nome, #sobrenome, #pesquisa {
    outline: none;
    border: 1px solid rgba(10,149,255, 1);
    color: #FFF;
    padding: 5px;
    font-weight: bold;
    font-size: 16px;
}

#title-principal, #title-page {
    text-align: center;
}

#data{
    margin: 0;
    padding: 20px 0;
    display: flex;
}

svg#edit-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: rgba(43,55,61, 1);
}

svg#delete-icon{
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: rgba(43,55,61, 1);
}

#users{
    display: flex;
    margin: 20px 0;
    background-color: rgba(43,55,61, 1);
}

.first_name, #acoes {
    margin: 0 20px;
    background-color: rgba(43,55,61, 1);
}

#acoes {
    display: flex;
    align-items: center;
}

#acoes svg{
    margin: 0 10px;
}

#id {
    font-weight: bold;
    background-color: rgba(43,55,61, 1);
}

#button-enviar, #button-limpar, #button-att, #button-deletar, #button-cancela {
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

#button-enviar, #button-att, #button-deletar {
    background-color: rgba(10,149,255, 1);
}

#button-enviar {
    color: white;
    margin: 20px 0 0 0;
}

#button-limpar {
    background-color: rgba(10,149,255, .2);
    color: white;
}
#button-att span {
    background-color: rgba(10,149,255, 1);
}
.none.modal {
    margin: -8px;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.none.modal-busca {
    margin: -8px;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.none.modal-busca#button-deletar, .none.modal-busca#button-cancela {
    display: none;
}

.none {
    display: none;
}
#info-confirm {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px;
}
#info-confirm b {
    color: rgba(10,249,255, 1);
}
.confirm {
    min-width: 500px;
    height: 300px;
    background-color: rgba(43,55,61, 1);
    border: 5px solid rgba(10,149,255, 1);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.buttons-confirm button{
    border: none;
    padding: 10px;
    font-size: 16px;
    background-color: rgba(10,149,255, .2);
}
#button-deletar {
    background-color: rgba(10,149,255, 1);
    color: white;
}
#pesquisa {
    display: flex;
    width: 30%;
    margin: 20px auto;
}

#input-pesquisa {
    width: 100%;
    border: none;
    outline: none;
}