* {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(43, 55, 61, 1);
}

.content {
    display: flex;
    flex-direction: column;
}

#oi {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    width: 50%;
    min-width: 500px;
    margin: 0 auto;
    overflow: auto;
    border-top: 5px solid rgba(10, 149, 255, 1);
    color: #FFF;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .5);
}

#data {
    overflow: auto;
    border-radius: 5px;
    justify-content: space-between;
    width: 90%;
    background-color: rgba(43, 55, 61, 1);
    padding: 10px 0;
    display: flex;
}

#data:hover {
    background-color: rgba(10, 149, 255, .1);
}

button#button-att {
    margin: 0 auto 20px auto;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    width: 200px;
}

#form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 20px auto;
}

#nome,
#sobrenome,
#pesquisa {
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(10, 149, 255, 1);
    color: #FFF;
    padding: 5px;
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0;
}

#title-principal,
#title-page {
    text-align: center;
    color: #FFF;
}

svg#edit-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: transparent;
    transition: .1s;
}

svg#delete-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: transparent;
    transition: .3s;
}

svg#delete-icon:hover, svg#edit-icon:hover {
    color: rgba(10, 149, 255, 1);
    transition: .1s;
}

#users {
    display: flex;
    margin: 20px 0;
    background-color: transparent;
}

.first_name,
.last_name
{
    margin: 0 10px;
    background-color: transparent;
}

#acoes {
    display: flex;
    align-items: center;
    background-color: transparent;
}

#acoes svg {
    margin: 0 10px;
}

#id {
    font-weight: bold;
    background-color: transparent;
    margin: 0 10px;
    color: rgba(10, 249, 255, 1);
}

#button-enviar,
#button-limpar,
#button-att,
#button-deletar,
#button-cancela {
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

#button-enviar,
#button-att,
#button-deletar {
    background-color: rgba(10, 149, 255, 1);
}

#button-enviar {
    color: white;
    margin: 20px 0 0 0;
}

#button-limpar {
    background-color: rgba(10, 149, 255, .2);
    color: white;
}

#button-att span {
    background-color: rgba(10, 149, 255, 1);
}

.none.modal {
    margin: -8px;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.none.modal-busca {
    margin: -8px;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.none.modal-busca #button-cancela {
    display: none;
}

.none.modal-busca #button-deletar {
    width: 250px;
} 

.none.modal-busca#button-deletar,
.none.modal-busca#button-cancela {
    display: none;
}

#button-cancela {
    color: #FFF;
}

.none {
    display: none;
}

#info-confirm {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px;
}

#info-confirm b {
    color: rgba(10, 249, 255, 1);
}

.confirm {
    min-width: 500px;
    height: 300px;
    background-color: rgba(43, 55, 61, 1);
    border: 5px solid rgba(10, 149, 255, 1);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.buttons-confirm button {
    border: none;
    padding: 10px;
    font-size: 16px;
    background-color: rgba(10, 149, 255, .2);
}

#button-deletar {
    background-color: rgba(10, 149, 255, 1);
    color: white;
}

#pesquisa {
    display: flex;
    width: 0;
    border: none;
    margin: 20px auto;
    transition: .5s;
    display: flex;
    align-items: center;
}

#input-pesquisa {
    width: 100%;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 16px;
    color: #FFF;
    margin: 20px 0;
}

#pesquisa:hover {
    width: 350px;
    transition: .5s;
}

#src-icon {
    margin: 0 -23px;
    background-color: rgba(10, 149, 255, 1);
    padding: 14px;
    cursor: pointer;
    border-radius: 50%;
}